
.App{
  color:brown;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}

.Greeting {
  color: rgb(19, 146, 51);
  text-align:center;
  font-size: 40px;
  font-weight: bold;
}

.myButton {
   padding: 10px;
   margin-left: 800px;
}